.dropdown{
    select{
        width: 350px; 
        height: 50px;
        border:  1px solid lightgray;
        border-radius: 5px;
        outline: none;
        margin-top: 20px;
    }
    .explanation{
        max-width: 350px;
        width: 100%;
        h5{
            color: orange;
            font-size: 20px;
           text-align: center;

        }
        p{
            font-size: 17px;
        }
      
    }
}